<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>captureleadsxavier</name>
	<displayName><![CDATA[Captureleads Xavier]]></displayName>
	<version><![CDATA[3.0.4]]></version>
	<description><![CDATA[Captureleads para Ecomm360.]]></description>
	<author><![CDATA[Xavier Martinez]]></author>
	<tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>